@{
    ViewBag.Title = "About";
}

<div class="aboutPage-container row ">
    <div class="content-left col-xs-12 col-sm-5">
        <div class="orange-bold-text">
            About us<br /><br />
        </div>
        Follow other businesses in<span class="orange-bold-text">
            Wycombe District
        </span> and participate in<span class="orange-bold-text">
            Safe Place scheme!
        </span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 ">
        <img style="width: 100%;" src="~/Images/logo.png">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 ">
        <div style="text-align:center; font-weight:bold; font-size:20px;">Who we are</div>

        Vulnerable people sometimes need a safe haven when out in the community
        and feeling, confused scared or upset. The 'Safe Place'
        scheme provides suitable venues, such as local shops and resturants,
        where they can go and where a telephone call can be made to
        someone they trust - who will either come and collect them or
        advise them about what they need to do. Alternatively they may just need help with directions<br /> <br />

        The programme is coordinated by Wycombe District Council's
        Community Services team, with support from Thames Valley Police
        and local voluntary organisations.
    </div>
</div>

<div class="orange-container row">
    <div class="content-title col-xs-12">How the scheme works</div>
    <div class="content-left col-xs-12 col-sm-5">
        <br><br /> <span class="orange-bold-text">A sticker</span>
        is placed in a prominent possition
        <span class="orange-bold-text">in the window or on a door</span> of a 'Safe
        Place', identifying that <span class="orange-bold-text">help is avaliable</span>
        here for vulnerable people
        <br><br />
        Vulnerable residents in the community will
        be told about the scheme(and the identifying
        logo) by their support organisations
        and some will carry a card which shows
        their name and the name and phone
        number of their trusted person.
    </div>
    <div class="content-right col-xs-12 col-sm-5">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/LXLIT6OjeT0" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="height:50px"></div>
</div>


<!--AIzaSyCiGnnIvUX4sbLo2oNSU7xWHkFNdN8F5Eg-->
