
@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="central-container" style="height: 800px">
    <div class="content-central" style="height: 600px">
        <div class="col-xs-12">
            <br>
            <h2 class="orange-bold-text">General</h2>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <span class="orange-bold-text">
                        1.
                    </span>
                    Is there an emergency? If
                    the person respires urgent
                    medical attention or if it is
                    crime in progress, call 99. If it
                    is non-urgent, call 101.<br />
                    <span class="orange-bold-text">
                        2.
                    </span>
                    Offer reassurance. Make sure
                    person knows you are happy to
                    support them.<br />
                    <span class="orange-bold-text">
                        3.
                    </span>
                    Tell your name. So they
                    know how. you are.<br />
                    <span class="orange-bold-text">
                        4.
                    </span>
                    Avoid physical contact.<br />
                    <span class="orange-bold-text">
                        5.
                    </span>
                    Speak sloaly and clearly<br />
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span class="orange-bold-text">
                        6.
                    </span>
                    Ask for contact. "Do you
                    have anyone I can call" and/or
                    "Do you have a card with their
                    information". Then call the
                    person and ask to come as
                    soon as possible<br />
                    <span class="orange-bold-text">
                        7.
                    </span>
                    Provide suppor and advice
                    Like giving the directions or in
                    serious situations, see point 1.<br />
                    <span class="orange-bold-text">
                        8.
                    </span>
                    Stay with person till some
                    one will pick them up<br />
                    <span class="orange-bold-text">
                        9.
                    </span>
                    Make a record of the incident and let know anyone who
                    is on charge during your shift
                </div>
            </div>
            <br />
            <br />
            <br />

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <button class="btn">Call 911</button>

                </div>
                <div class="col-xs-12 col-sm-6">
                    <button class="btn-orangetext">Call 101</button>

                </div>
    </div>
</div>