@{
    ViewBag.Title = "Get Involved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="getInvolved-container row">
    <div class="content-left  col-xs-10 col-sm-5">
        <br />
        <br />
        Together we can make it
        <div class="orange-bold-text">safe place!</div>
        <img src="~/Images/Logo-Small.png" />
        <form action="" method="get" id="emailForm">
            <input id="email" name="email" type="text" placeholder="e-mail address" class="form-control input-md">
            <button type="button" form="emailForm">submit</button>
        </form>
    </div>
</div>
<div class="orange-container" style="height:60px;">
</div>

<div class="col-sm-12" style="text-align:center">
    <p>
        <br /> The safe place scheme provides reassurance to vulnerable people and their carers, or
        people who find themselves in chalenging situations, so that they can live more
        independent lifestyles knowing that there is help available when they are out and about.
    </p>
    <br />
    <span class="orange-bold-text">Find out more</span>
    <br /><br />
</div>
<div class="orange-container" style="height:60px;">
</div>
