@{
    ViewBag.Title = "Get Involved";
}

<div class="getInvolved-container row">
    <div class="content-left  col-xs-10 col-sm-5">
        <br />
        <br />
        Together we can make it
        <div class="orange-bold-text">safe place!</div>
        <img src="~/Images/Logo-Small.png" />
        <form action="" method="get" id="emailForm">
            <input id="email" name="email" type="text" placeholder="e-mail address" class="form-control input-md">
            <button type="button" form="emailForm">submit</button>
        </form>
    </div>
</div>
<div class="orange-container" style="height:60px;">
</div>
<div class="row">
    <div class="col-md-4" style="text-align:center">
        <br /><br />
        <p>
            "I would like to thank businesses for signing up because they are helping people<span class="orange-bold-text">to feel safer</span> and thats important"<br />
        </p>
        <span class="small-grey-text">Tesco's manager</span><br /><br />

    </div>
    <div class="col-md-4" style="text-align:center">
        <br /><br />
        <p>
            "Makes me feel like<span class="orange-bold-text"> I am part of my town</span>"<br />
        </p>
        <span class="small-grey-text">Tesco's manager</span><br /><br />
    </div>
    <div class="col-md-4" style="text-align:center">
        <br /><br />
        <p>
            "I would like to thank businesses <span class="orange-bold-text">for signing </span>up because"<br />
        </p>
        <span class="small-grey-text">Tesco's manager</span><br /><br />
    </div>
</div>
<div class="col-sm-12" style="text-align:center">
    <p>
        <br /> The safe place scheme provides reassurance to vulnerable people and their carers, or
        people who find themselves in chalenging situations, so that they can live more
        independent lifestyles knowing that there is help available when they are out and about.
    </p>
    <br />
    <span class="orange-bold-text">Find out more</span>
    <br /><br />
</div>
<div class="orange-container" style="height:60px;">
</div>
