@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p style="font-size: x-large; text-align:center">Common Situations and how to help</p>

<div>
    <div class="reportpage-table" style="background-color:#fac67e; ">
        <p class="large-white-text">Lost</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="reportpage-table" style="background-color:#fea045; height:160px">
        <p class="large-white-text">In Pain</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="reportpage-table" style="background-color:#ffad2c; height:160px">
        <p class="large-white-text">Distressed</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="reportpage-table" style="background-color:#fea212; height:160px">
        <p class="large-white-text">Chat</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="reportpage-table" style="background-color:#ff6a00; height:160px">
        <p class="large-white-text">Missed Transport</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
</div>