@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="index-container row">
    <div class="content-left  col-xs-10 col-sm-5">
        <br />
        <br />
        <h3>
            Together we can make it
            <span class="orange-bold-text">safe place!</span>
        </h3>


        <div class="row">
            <div class="col-xs-10">
                We are here to make places
                where vulnerable people can
                go to talk, ask for help or call
                to someone they trust.
            </div>

            <div class="col-xs-2">
                <img src="~/Images/Logo-Small.png" height="60" width="60" />
            </div>

        </div>



        <form action="" method="get" id="emailForm">
            <input id="email" name="email" type="text" placeholder="e-mail address" class="form-control input-md">
            <button type="button" form="emailForm">submit</button>
        </form>
    </div>
</div>
<div class="orange-container" style="height:60px;">

</div>
<row>
    <img src="~/Images/home_p_bg.jpg" style="max-width: 100%; background-size: cover;"/>
</row>
<div class="col-sm-12" style="text-align:center">
    <p>
        <br /> The safe place scheme provides reassurance to vulnerable people and their carers, or
        people who find themselves in chalenging situations, so that they can live more
        independent lifestyles knowing that there is help available when they are out and about.
    </p>
    <br />
    <button class="btn" onclick="location.href='@Url.Action("About", "Home")'">Find out More</button>
    <br /><br />
</div>
<div class="orange-container" style="height:60px;">
</div>