@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loginPage-container">
    <div class="content-login">
        <form name="pin" id="pin" class="form-horizontal">
            <br />
            <div style="text-align:center; font-size:larger; ">Log In </div>
            <div class="form-group">
                <div style="text-align:center" class="col-md-12 control-label" for="pin">Enter Your Pin</div>
                <input id="pin" name="pin" style="text-align:center; width:50%; margin-left:25%" type="password" class="form-control input-md" required="">
                <button type="submit" class="btn" style="width:auto; height:auto" form="pin" value="Submit">submit</button>
                <div class="small-grey-text" style="text-align:center">
                    <p>
                        the pin for this prototype is: 1001 </br>
                        (this text will be removed with full release)
                    </p>
                </div>

            </div>
        </form>
    </div>
</div>
