
@{
    ViewBag.Title = "KeyContacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="central-container">
    <div class="content-central">

            <div class="col-md-6 col-sm-12">
                <br>
                <h2 class="orange-bold-text">KeyContacts</h2>
                <br />
                <p style="font-weight: bold">Accident and emergency</p>
                <div class="row">
                    <div class="col-xs-7">
                        Stoke Mandeville Hospital
                    </div>
                    <div class="col-xs-5">
                        01296 315 000
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        Wycombe Hospital
                    </div>
                    <div class="col-xs-5">
                        01494 526
                    </div>
                </div>
                <br>
                <p style="font-weight: bold">Carers</p>
                <div class="row">
                    <div class="col-xs-7">
                        Carers Bucks
                    </div>
                    <div class="col-xs-5">
                        01494 463 536
                    </div>
                </div>

                <br>
                <p style="font-weight: bold">Citezens Advice Bureau</p>
                <div class="row">
                    <div class="col-xs-7">
                        Advice Line
                    </div>
                    <div class="col-xs-5">
                        03444 111 444
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                    (National Phone Service)
                    </div>
                </div>
            </div>
 
    </div>
