
@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="orange-container" style="height:60px;">
    <p class="large-white-text">Our Locations</p>
</div>

<div class="row">
    <div class="col-md-9">
        <iframe width=100%
                height=700px
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/d/embed?mid=1pzwwho6hLqGw6AKcvUPJHgjJun7gp1Ip " allowfullscreen></iframe>
    </div>
    <div class="col-md-3">
        <p style="text-align:left">The Safe Place scheme currently operates in the following areas: </p>
        <br />
        Amersham<br />
        Aston Clinton<br />
        Aylesbury Town Centre<br />
        Beaconsfield<br />
        Buckingham<br />
        Burnham<br />
        Chalfont St Peter<br />
        Chesham<br />
        Farnham Common<br />
        Gerrards Cross<br />
        Great Missenden<br />
        Haddenham<br />
        Holtspur<br />
        Iver<br />
        Little Chalfont<br />
        Prestwood<br />
        Richings Park<br />
        Stoke Poges<br />
        Waddesdon<br />
        Wendover<br />
        Wing<br />
        Winslow<br />
    </div>
</div>